<div class="row">
  <div class="col-md-12">
    <h2 class="display-4">Styles</h2>
  </div>
</div>

<hr class="hr-primary">

<div class="row">
  <div class="col-md-12">
    <h4>Buttons</h4>
    <br>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-primary">.btn-primary</button>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-secondary">.btn-secondary</button>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-info">
      <i class="material-icons">face</i>.btn-info</button>
  </div>
</div>

<hr class="hr-primary">

<div class="row">
  <div class="col-md-12">
    <h4>Buttons-outline</h4>
    <br>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-outline-primary">.btn-outline-primary</button>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-outline-secondary">.btn-outline-secondary</button>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-outline-info">
      <i class="material-icons">face</i> .btn-outline-info</button>
  </div>

</div>

<hr class="hr-primary">


<div class="row">
  <div class="col-md-12">
    <h4>Input</h4>
    <br>
  </div>

  <div class="col-sm">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="input-group-sm" aria-label="input-group" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="col-sm">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="input-group" aria-label="input-group" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="col-sm">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="input-group-lg" aria-label="input-group-lg" aria-describedby="sizing-addon1">
    </div>
  </div>

</div>
